@use '../../assets/colors' as colors;

.toggle {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  width: 1rem;

  &:hover {
    color: colors.$red-accent;
  }
}
