@use '../../assets/abstracts/variables' as var;
@use '../../assets/abstracts/mixins' as *;

.tech {
  ul {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;

    li {
      // display: inline-flex;
    }
  }
  
  span {
    font-size: var.$default-font-size;
    position: relative;
    bottom: 10%;
    font-weight: 600;
    overflow-wrap: anywhere;
  }
}