@use '../../assets/abstracts/variables' as var;
@use '../../assets/abstracts/colors' as colors;
@use '../../assets/abstracts/mixins' as *;

@mixin theme($name, $background, $background-accent, $highlight, $primary-text, $secondary-text) {
  .#{$name} {
    .tabs-container {
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
      }

      .tabs-heading {
        // justify-content: center;
        
        li {
          cursor: pointer;
          @include fade;
          position: relative;
          width: 6rem;
          display: flex;
          justify-content: center;
          padding-bottom: 1.2rem;
  
          span {
            margin-right: 0.3rem;
          }
      
          &:before {
            content: "";
            background: $background-accent;
            position: absolute;
            // width: 1.2rem;
            // height: 0.3rem;
            // border-radius: var.$rounded;
            width: inherit;
            height: 0.1rem;
            top: 1.5rem;
          }
    
          &:before.active {
            background: colors.$red-accent;
          }
          
          &:hover {
            color: colors.$red-accent;
          }

          &:first-child {
            &:before {
              // border-radius: var.$rounded;
            }
          }
        }
    
        .active {
          color: colors.$red-accent;
    
          &:before {
            background: colors.$red-accent;
          }
        }
    
        .inactive {
          color: $background-accent;
        }
      }
    
      .tabs-content {
        display: none;
      }
    
      .tabs-show-content {
        display: inline;
      }
    }
  }
}

@include theme('light', colors.$light-background, colors.$light-background-accent, colors.$light-highlight, colors.$light-primary-text, colors.$light-secondary-text);
@include theme('dark', colors.$dark-background, colors.$dark-background-accent, colors.$dark-highlight, colors.$dark-primary-text, colors.$dark-secondary-text);