@use '../abstracts/variables' as var;
@use '../abstracts/colors' as colors;
@use '../abstracts/mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;500;600;700;800;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  padding: 0;
  margin: 0;
}

html {
  font-size: var.$default-font-size;
}

body {
  @include main-font;
  // font-family: 'Lexesnd', sans-serif;

  p {
    @include sub-font;
    // font-weight: 500;
  }
}

a {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

.light {
  /* -------------------------------------------------------------------------- */
  /*                                   NAVBAR                                   */
  /* -------------------------------------------------------------------------- */
  .navbar-container {
    background-color: colors.$light-background;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var.$navbar-height;
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid colors.$light-background-accent;
    @include light-drop-shadow;
    z-index: 100;
  }
  
  .navbar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    font-weight: 700;
  }
  
  .navbar-logo {
    font-weight: 800;
    font-size: 1.6rem;
  
    a {
      text-decoration: none;
  
      &:link {
        color: colors.$light-primary-text;
      }
  
      &:visited {
        color: colors.$light-primary-text;
      }
    }
  
    // p {
    //   span {
    //     color: colors.$red-accent;
    //     font-size: 2rem;
    //   }
    // }
  }
  
  .navbar-logo-dot {
    color: colors.$red-accent;
    font-size: 2rem;
  }
  
  .navbar-links {
    color: colors.$light-primary-text;
    font-size: var.$default-font-size;
    
    // for div
    a {
      margin-right: 2rem;
      // float: left;
      text-decoration: none;
      text-transform: capitalize;
  
      &:link {
        color: colors.$light-primary-text;
      }
  
      &:visited {
        color: colors.$light-primary-text;
      }
        
      &:hover {
        color: colors.$red-accent;
      }
    }
  
    // display: flex;
    // align-items: center;
  
    ul {
      list-style: none;
    }
  
    
    li {
      //   // display: inline;
      float: left;
      
    //   // a {
    //   //   text-decoration: none;
    //   //   text-transform: capitalize;
  
    //   //   &:visited {
    //   //     color: inherit;
    //   //   }
        
    //   //   &:hover {
    //   //     color: blue;
    //   //   }
        
    //   //   &:active {
    //   //     color: green;
    //   //   }
    //   // }
    }
  
  }
  
  // .navbar-links-active {
  //   color: green; 
  // }
  
  // .navbar-links-inactive {
  //   color: white;
  // }
  
  .navbar-links-mobile {
  
  }
  
  .theme {
    // display: flex;
    // border-radius: 5px;
    // margin-left: 2rem;
    // padding-left: 1px;
    // margin-right: 2rem;
  
  }
  
  /* -------------------------------------------------------------------------- */
  /*                                    INTRO                                   */
  /* -------------------------------------------------------------------------- */
  .intro-container {
    @include section-container;
    background-color: colors.$light-background;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .intro-content {
    @include gap;
    padding: 1rem;
  }
  
  .intro-text {
    // background-color: aqua;
    max-width: var.$div-size;
    // max-height: var.$div-size;
  
    h1 {
      font-size: 4rem;
    }
  
    p {
      padding: 1rem 0;
    }
  }
  
  .intro-links {
    font-size: 2em;
  
    svg {
      margin-right: 1rem;
      // width: 20px;
    }
  
    a {
      &:link {
        color: inherit;
      }
  
      &:visited {
        color: inherit;
      }
  
      &:hover {
        color: colors.$red-accent;
      }
    }
  }
  
  .intro-pic {
    background-color: red;
    width: var.$div-size;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* -------------------------------------------------------------------------- */
  /*                                    ABOUT                                   */
  /* -------------------------------------------------------------------------- */
  .about-container {
    @include section-container;
    background-color: colors.$light-background;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-content {
    @include gap;
    padding: 1rem;
  }
  
  .about-pic {
    background-color: green;
    width: var.$div-size;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-text {
    max-width: var.$div-size;
    max-height: var.$div-size;
  
    h1 {
      font-size: var.$header-font-size;
    }
  }
  
  
  .about-links {
    padding: 1rem 0;
  }
  
  /* -------------------------------------------------------------------------- */
  /*                                  PROJECTS                                  */
  /* -------------------------------------------------------------------------- */
  .projects-container {
    @include section-container;
    background-color: colors.$light-background;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
  }
  
  .projects-header {
    @include container-header;
    
  }
  
  .projects-content {
    @include gap;
  }
  
  /* -------------------------------------------------------------------------- */
  /*                                   CONTACT                                  */
  /* -------------------------------------------------------------------------- */
  .contact-container {
    @include section-container;
    background-color: colors.$light-background;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-header {
    @include container-header;
    
  }

  .form-container {
    width: var.$div-size;
    // border: 1px solid black;
    // background-color: red;
    
    // .form-row {
    //   display: flex;
    //   gap: var.$gap;
    // }
    
    form {
      width: 95%;

      input, textarea {
        z-index: 1;
        // position: relative;
        border: 0;
        width: 100%;
        // background: transparent;
        background-color: colors.$light-background;
        @include light-drop-shadow;
        padding: 0.5rem;
        border-radius: var.$rounded-bar;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 500;
        font-size: calc(var.$default-font-size - 0.2rem);
        
        &:focus {
          outline: 1px solid colors.$red-accent;
        }
      }
      
      textarea {
        border-radius: var.$rounded;
        resize: none;
      }
      
      label {
        z-index: 2;
        // position: absolute;
        text-transform: capitalize;
        margin-left: 1rem;
        // margin-bottom: 0.5rem;
        // display: block;
        // padding-bottom: 0.5rem;
        font-size: var.$default-font-size;
        // font-size: 1.2rem;

        span {
          color: colors.$red-accent;
          font-weight: 700;
        }
      }
    }
    
    input {
      &:focus~label {
        // top: -.2rem;
      }
    }
    
    #name, #email, #subject, #message {
      padding-left: 1rem;
      padding-right: 0.5rem;
    }

    p {
      margin-top: 1rem;
      font-size: var.$subtext-font-size;
      // font-size: 100px;

    }
  } /* form container */

  .form-submit {
    button {
      @include button;
      border: none;
      font-family: 'Outfit', sans-serif;
      font-size: var.$subtext-font-size;
      cursor: pointer;
    }
  }
}

.dark {
  
}