/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */

$white: #fafaff;

/* --------------------------------- ACCENTS -------------------------------- */
$red-accent: #ff4c60;
$yellow-accent: #ffe160;

/* ------------------------------- LIGHT MODE ------------------------------- */
$light-background: $white;
$light-background-accent: #e9e7fc;
$light-primary-text: #05042f;
$light-secondary-text: #05042f;

/* -------------------------------- DARK MODE ------------------------------- */
$dark-background: #2e2d52;
$dark-background-accent: #29284d;
$dark-primary-text: $white;
$dark-secondary-text: $white;
