/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */
$white: #fafaff;
// $black: #05042f;
$black: #040321;

/* --------------------------------- ACCENTS -------------------------------- */
$red-accent: #ff4c60;
$red-accent-hover: #ec273d;

/* ------------------------------- LIGHT MODE ------------------------------- */
$light-background: $white;
// $light-background-accent: #e9e7fc;
$light-background-accent: #d7d3f4;
$light-highlight: $light-background;
$light-primary-text: $black;
$light-secondary-text: $black;

/* -------------------------------- DARK MODE ------------------------------- */
$dark-background: #2e2d52;
// $dark-background-accent: #29284d;
// $dark-background-accent: #1e1d40;
$dark-background-accent: #1a1939;
$dark-highlight: $dark-background-accent;
$dark-primary-text: $white;
$dark-secondary-text: $white;
