$i: unquote("!important");

/* -------------------------------------------------------------------------- */
/*                                   SPACING                                  */
/* -------------------------------------------------------------------------- */
$navbar-height: 5rem;
$section-height: calc(100vh - $navbar-height);
$div-size: 30rem;

/* -------------------------------------------------------------------------- */
/*                                   STYLING                                  */
/* -------------------------------------------------------------------------- */
$rounded: 1rem;
$rounded-bar: 2rem;
$gap: 2rem;
$header-font-size: 3rem;
$default-font-size: 1.2rem;
$subtext-font-size: calc($default-font-size - 0.2rem);

/* -------------------------------------------------------------------------- */
/*                                 ANIMATIONS                                 */
/* -------------------------------------------------------------------------- */
@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes pop {
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}