/* -------------------------------------------------------------------------- */
/*                                   SPACING                                  */
/* -------------------------------------------------------------------------- */
$navbar-height: 5rem;
$section-height: calc(100vh - $navbar-height);
$div-size: 30rem;

/* ----------------------------- MOBILE SPACING ----------------------------- */
$mobile-navbar-height: calc($navbar-height * 0.8);
$mobile-section-height: calc(100vh - $mobile-navbar-height);

/* -------------------------------------------------------------------------- */
/*                                   STYLING                                  */
/* -------------------------------------------------------------------------- */
$rounded: 1rem;
$rounded-bar: 2rem;
$gap: 2rem;
$header-font-size: 3rem;
$default-font-size: 1.2rem;
$subtext-font-size: calc($default-font-size - 0.2rem);

/* -------------------------------------------------------------------------- */
/*                                 ANIMATIONS                                 */
/* -------------------------------------------------------------------------- */
// @-webkit-keyframes pop {
//   50% {
//     -webkit-transform: scale(1.1);
//     transform: scale(1.1);
//   }
// }

// @keyframes pop {
//   50% {
//     -webkit-transform: scale(1.1);
//     transform: scale(1.1);
//   }
// }
