@use '../assets/variables' as var;

.about-container {
  background-color: red;
  width: 100%;
  height: var.$section-height;
  padding-top: var.$navbar-height;
  display: flex;
  justify-content: center;
  align-items: center;
  // gap: 10px;
}

.about-pic {
  background-color: green;
  width: 20rem;
}

.about-text {
  background-color: aqua;
  max-width: 20rem;
  max-height: 20rem;
}