@use '../assets/variables' as var;

.intro-container {
  background-color: green;
  width: 100%;
  height: var.$section-height;
  display: flex;
  justify-content: center;
  align-items: center;
  // gap: 10px;
}

.intro-text {
  background-color: aqua;
  max-width: 20rem;
  max-height: 20rem;
}

.intro-links {
  svg {
    width: 20px;
    margin-right: 5px;
  }
}

.intro-pic {
  background-color: red;
  width: 20rem;
}