@use '../assets/variables' as var;

.project-container {
  border: 1px solid black;
  max-width: var.$div-size;
  display: flex;
  flex-direction: column;
  
  img {
    width: 10px;
  }

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.project-image {
  display: flex;
  justify-content: center;
}

.project-info {

}

.project-button-container {
  display: flex;
  justify-content: center;
  gap: 10px;

  a {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    border: solid 1px black;
    padding: 2px;
    border-radius: 5px;
    }
}
