@use '../../assets/abstracts/variables' as var;
@use '../../assets/abstracts/colors' as colors;
@use '../../assets/abstracts/mixins' as *;

@mixin theme($name, $background, $background-accent, $highlight, $primary-text, $secondary-text) {
  .#{$name} {
    .squares-container {
      width: 8.5rem;
      aspect-ratio: 1;
      padding: 1.5rem;
      background-color: $highlight;
      @include drop-shadow($background-accent);
      border-radius: var.$rounded;
      overflow: scroll;
      overflow-x: hidden;
  
      h2 {
        font-size: 1.2rem;
        padding-bottom: 1rem;
      }
      span {
        // font-size: var.$default-font-size;
        // font-size: 1rem;
      }
    }

    @media (max-width: 64em) {
      .squares-container {
        width: 9rem;
      }
    }
  }
}

@include theme('light', colors.$light-background, colors.$light-background-accent, colors.$light-highlight, colors.$light-primary-text, colors.$light-secondary-text);
@include theme('dark', colors.$dark-background, colors.$dark-background-accent, colors.$dark-highlight, colors.$dark-primary-text, colors.$dark-secondary-text);