@use '../../assets/abstracts/variables' as var;

.tech {
  width: inherit;
  
  ul {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  span {
    font-size: var.$default-font-size;
    position: relative;
    bottom: 10%;
    font-weight: 600;
  }
}