/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */

/* --------------------------------- ACCENTS -------------------------------- */
$red-accent: #ff4c60;
$yellow-accent: #ffe160;

/* -------------------------------- DARK MODE ------------------------------- */
$dark-background: #2e2d52;
$dark-background-accent: #29284d;
$dark-primary-text: #fafaff;
$dark-secondary-text: #fafaff;

/* ------------------------------- LIGHT MODE ------------------------------- */
$light-background: #fafaff;
$light-background-accent: #f4f4f8;
$light-primary-text: #05042f;
$light-secondary-text: #05042f;