@use './colors' as colors;

.light {
  theme-background: colors.$light-background;
  background-accent: colors.$light-background-accent;
  primary-text: colors.$light-primary-text;
  secondary-text: colors.$light-secondary-text;
}

.dark {
  theme-background: colors.$dark-background;
  background-accent: colors.$dark-background-accent;
  primary-text: colors.$dark-primary-text;
  secondary-text: colors.$dark-secondary-text;
}