/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */
$black: black;
$white: white;
$accent: red;

/* -------------------------------------------------------------------------- */
/*                                   SPACING                                  */
/* -------------------------------------------------------------------------- */
$navbar-height: 5rem;
$section-height: calc(100vh - $navbar-height);
$div-size: 30rem;

/* -------------------------------------------------------------------------- */
/*                                   STYLING                                  */
/* -------------------------------------------------------------------------- */
$rounded: 15px;