/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */

/* --------------------------------- ACCENTS -------------------------------- */
$red-accent: #ff4c60;
$yellow-accent: #ffe160;

/* -------------------------------- DARK MODE ------------------------------- */
$dark-background: #2e2d52;
$dark-background-accent: #29284d;
$dark-primary-text: #fafaff;
$dark-secondary-text: #fafaff;

/* ------------------------------- LIGHT MODE ------------------------------- */
$light-background: #fafaff;
$light-background-accent: #f4f4f8;
$light-primary-text: #05042f;
$light-secondary-text: #05042f;

/* ----------------------------- DEFAULT COLORS ----------------------------- */
// $theme-background: $light-background;
// $background-accent: $light-background-accent;
// $primary-text: light-primary-text;
// $secondary-text: light-secondary-text;

// // 
// $theme-map-light: (
//   $theme-background: $light-background,
//   $background-accent: $light-background-accent,
//   $primary-text: $light-primary-text,
//   $secondary-text: $light-secondary-text,
// );

// $theme-map-dark: (
//   $theme-background: $dark-background,
//   $background-accent: $dark-background-accent,
//   $primary-text: $dark-primary-text,
//   $secondary-text: $dark-secondary-text,
// );

$black: black;
$white: white;
$accent: red;

/* -------------------------------------------------------------------------- */
/*                                   SPACING                                  */
/* -------------------------------------------------------------------------- */
$navbar-height: 5rem;
$section-height: calc(100vh - $navbar-height);
$div-size: 30rem;

/* -------------------------------------------------------------------------- */
/*                                   STYLING                                  */
/* -------------------------------------------------------------------------- */
$rounded: 15px;