@use './assets/variables' as var;

* {
  padding: 0;
  margin: 0;
}

/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */
.navbar-container {
  background-color: black;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var.$navbar-height;
  display: flex;
  align-items: center;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 30px;
}

.navbar-logo {
  
}

.navbar-links {
  color: white;
  
  // for div
  a {
    margin-left: 10px;
    float: left;
    text-decoration: none;
    text-transform: capitalize;

    &:visited {
      color: inherit;
    }
      
    &:hover {
      color: blue;
    }
  }
  // ul {
  //   list-style: none;
  // }

  // li {
  //   // display: inline;
  //   float: left;
  //   margin-left: 10px;
  //   display: flex;
  //   align-items: center;
    
  //   a {
  //     text-decoration: none;
  //     text-transform: capitalize;

  //     &:visited {
  //       color: inherit;
  //     }
      
  //     &:hover {
  //       color: blue;
  //     }
      
  //     &:active {
  //       color: green;
  //     }
  //   }
  // }

}

.navbar-links-active {
  color: green; 
}

// .navbar-links-inactive {
//   color: white;
// }

.navbar-links-mobile {

}

.theme {
  border: 1px white solid;
  border-radius: 5px;
  padding: 7px 9px;
  margin-left: 10px;
}

/* -------------------------------------------------------------------------- */
/*                                    INTRO                                   */
/* -------------------------------------------------------------------------- */
.intro-container {
  background-color: green;
  width: 100%;
  height: var.$section-height;
  display: flex;
  justify-content: center;
  align-items: center;
  // gap: 10px;
}

.intro-text {
  background-color: aqua;
  max-width: 20rem;
  max-height: 20rem;
}

.intro-links {
  svg {
    width: 20px;
    margin-right: 5px;
  }
}

.intro-pic {
  background-color: red;
  width: 20rem;
}

/* -------------------------------------------------------------------------- */
/*                                    ABOUT                                   */
/* -------------------------------------------------------------------------- */
.about-container {
  background-color: red;
  width: 100%;
  height: var.$section-height;
  padding-top: var.$navbar-height;
  display: flex;
  justify-content: center;
  align-items: center;
  // gap: 10px;
}

.about-pic {
  background-color: green;
  width: 20rem;
}

.about-text {
  background-color: aqua;
  max-width: 20rem;
  max-height: 20rem;
}

/* -------------------------------------------------------------------------- */
/*                                  PROJECTS                                  */
/* -------------------------------------------------------------------------- */
.projects-container {
  background-color: purple;
  width: 100%;
  height: var.$section-height;
  padding-top: var.$navbar-height;
}

.projects-header {
  
}

/* -------------------------------------------------------------------------- */
/*                                   CONTACT                                  */
/* -------------------------------------------------------------------------- */
.contact-container {
  background-color: orange;
  width: 100%;
  height: var.$section-height;
  padding-top: var.$navbar-height;
}