@use '../abstracts/variables' as var;
@use '../abstracts/colors' as colors;
@use '../abstracts/mixins' as *;

.dark {
  color: colors.$dark-primary-text;

  /* -------------------------------------------------------------------------- */
  /*                                   NAVBAR                                   */
  /* -------------------------------------------------------------------------- */
  .navbar-container {
    @include navbar-container;
    background-color: colors.$dark-background;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    border-bottom: 0.1rem solid colors.$dark-background-accent;
    @include dark-drop-shadow;
    z-index: 100;

    .navbar-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 2rem;
      font-weight: 700;
    }
    
    .navbar-logo {
      font-weight: 800;
      font-size: 1.6rem;
      letter-spacing: 0rem;
    
      a {
        text-decoration: none;
    
        &:link {
          color: colors.$dark-primary-text;
        }
    
        &:visited {
          color: colors.$dark-primary-text;
        }
      }
    }
    
    .navbar-logo-dot {
      color: colors.$red-accent;
      font-size: 2rem;
    }
    
    .navbar-links {
      color: colors.$dark-primary-text;
      font-size: var.$default-font-size;
      display: block;
      
      a {
        margin-right: 2rem;
        text-decoration: none;
        text-transform: capitalize;
    
        &:link {
          color: colors.$dark-primary-text;
        }
    
        &:visited {
          color: colors.$dark-primary-text;
        }
          
        &:hover {
          color: colors.$red-accent;
        }
      }
    
      ul {
        list-style: none;

        li {
          float: left;
        }
      }
    }
    
    .mobile-nav-toggle {
      display: none;
    }
  }
  /* --------------------------------- NAVBAR --------------------------------- */
  

  /* -------------------------------------------------------------------------- */
  /*                                    INTRO                                   */
  /* -------------------------------------------------------------------------- */
  .intro-container {
    @include section-container;
    min-height: var.$section-height;
    padding-top: 0;
    background-color: colors.$dark-background;
    display: flex;
    justify-content: center;
    align-items: center;

    .intro-content {
      @include gap;
    }
    
    .intro-text {
      max-width: var.$div-size;
    
      h1 {
        font-size: 4rem;
      }
    
      p {
        padding: 1rem 0;
      }
    }
    
    .intro-links {
      @include icon-link;
    }
    
    .intro-pic {
      max-width: var.$div-size;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 50%;
      }
        
    }
  }
  /* ---------------------------------- INTRO --------------------------------- */
  

  /* -------------------------------------------------------------------------- */
  /*                                    ABOUT                                   */
  /* -------------------------------------------------------------------------- */
  .about-container {
    @include section-container;
    background-color: colors.$dark-background;
    display: flex;
    justify-content: center;
    align-items: center;
    @include container-header;
    text-align: center;

    .about-content {
      @include gap;
    }
    
    .about-pic {
      background-color: green;
      max-width: var.$div-size;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .about-text {
      max-width: var.$div-size;
    
      h1 {
        padding: 0 0 0.5rem 0;
      }
    }

    .about-links {
      padding: 1rem 0;
    }
  }

  /* ---------------------------------- ABOUT --------------------------------- */
  

  /* -------------------------------------------------------------------------- */
  /*                                  PROJECTS                                  */
  /* -------------------------------------------------------------------------- */
  .projects-container {
    @include section-container;
    background-color: colors.$dark-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .projects-header {
      @include container-header;
    }
    
    .projects-content {
      @include gap;
      flex-direction: column;
    }
  }
  
  /* -------------------------------- PROJECTS -------------------------------- */
  
  
  /* -------------------------------------------------------------------------- */
  /*                                   CONTACT                                  */
  /* -------------------------------------------------------------------------- */
  .contact-container {
    @include section-container;
    background-color: colors.$dark-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var.$navbar-height;

    .contact-header {
      @include container-header;
      text-align: center;
    }

    .contact-content {
      display: flex;
      gap: var.$gap;

      .contact-info {
        h2 {
          padding-bottom: calc(var.$gap * 0.5);
        }
  
        .row {
          padding-bottom: calc(var.$gap * 0.5);
        }
    
        .contact-socials {
          @include icon-link;
          font-size: 1.5rem;
        }
      }
    }
    
    .form-container {
      max-width: var.$div-size;
  
      form {
        width: 95%;
  
        input, textarea {
          z-index: 1;
          // position: relative;
          border: 0;
          width: 100%;
          // background: transparent;
          background-color: colors.$white;
          @include dark-drop-shadow;
          padding: 0.5rem;
          border-radius: var.$rounded-bar;
          margin-bottom: 1rem;
          margin-top: 0.5rem;
          @include sub-font-important;
          font-size: calc(var.$default-font-size - 0.2rem);
          
          &:focus {
            outline: 0.15rem solid colors.$red-accent;
          }
        }
        
        textarea {
          border-radius: var.$rounded;
          resize: none;
        }
        
        // label {
        //   z-index: 2;
        //   // position: absolute;
        //   text-transform: capitalize;
        //   margin-left: 1rem;
        //   font-size: var.$default-font-size;
  
        //   span {
        //     color: colors.$red-accent;
        //     font-weight: 700;
        //   }
        // }
      } /* form */
      
      #name, #email, #subject, #message {
        padding-left: 1rem;
      }
  
      // p {
      //   margin-top: 1rem;
      //   font-size: var.$subtext-font-size;
      // }
    }
  
    .form-submit {
      display: flex;
      justify-content: center;
      
      button {
        @include button;
        border: none;
        @include main-font;
        font-size: var.$subtext-font-size;
        cursor: pointer;
      }
    }
  }
  /* --------------------------------- CONTACT -------------------------------- */


  @media (max-width: 64em) {
    /* -------------------------------------------------------------------------- */
    /*                               NAVBAR (MOBILE)                              */
    /* -------------------------------------------------------------------------- */
    .navbar-container {
      .navbar-links {
        display: none;
      }

      .mobile-nav-toggle {
        position: absolute;
        display: block;
        z-index: 200;
        right: 2rem;
        border: 0;
        font-size: var.$default-font-size;
      }
    }

    .mobile-nav-links {
      position: fixed;
      z-index: 300;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: colors.$dark-background;

      a {
        text-decoration: none;
        text-transform: capitalize;
    
        &:link {
          color: colors.$dark-primary-text;
        }
    
        &:visited {
          color: colors.$dark-primary-text;
        }
          
        &:hover {
          color: colors.$red-accent;
        }
      }
    
      ul {
        list-style: none;
      }
      
      li {
        text-align: center;
        padding: 2rem;
        font-size: calc(var.$default-font-size * 2);
      }

      .close-nav {
        position: absolute;
        top: 1rem;
        // right: 2.4rem;
        right: 1.9rem;
        font-size: calc(var.$default-font-size * 1.4);
      }
    }
    /* ----------------------------- NAVBAR (MOBILE) ---------------------------- */


    /* -------------------------------------------------------------------------- */
    /*                               INTRO (MOBILE)                               */
    /* -------------------------------------------------------------------------- */
    .intro-container {
      padding-top: var.$gap;
      text-align: center;

      .intro-content {
        flex-direction: column-reverse;
        padding: 0 2rem;
      }
    }
    /* ----------------------------- INTRO (MOBILE) ----------------------------- */


    /* -------------------------------------------------------------------------- */
    /*                               ABOUT (MOBILE)                               */
    /* -------------------------------------------------------------------------- */
    .about-container {
      .about-content {
        flex-direction: column;
        padding: 0 2rem;
      }
    }
    /* ----------------------------- ABOUT (MOBILE) ----------------------------- */


    /* -------------------------------------------------------------------------- */
    /*                              PROJECTS (MOBILE)                             */
    /* -------------------------------------------------------------------------- */
    /* ---------------------------- PROJECTS (MOBILE) --------------------------- */
    
    
    /* -------------------------------------------------------------------------- */
    /*                              CONTACT (MOBILE)                              */
    /* -------------------------------------------------------------------------- */
    .contact-container {
      padding-bottom: 1rem;
      .contact-content {
        flex-direction: column;
        padding: 0 2rem 2rem 2rem;
      }

      .form-container {
        margin-right: 0.5rem;
      }
    }
    /* ---------------------------- CONTACT (MOBILE) ---------------------------- */
  }


  @media (max-width: 40em) {
    /* -------------------------------------------------------------------------- */
    /*                               NAVBAR (MOBILE)                              */
    /* -------------------------------------------------------------------------- */
    /* ----------------------------- NAVBAR (MOBILE) ---------------------------- */


    /* -------------------------------------------------------------------------- */
    /*                               INTRO (MOBILE)                               */
    /* -------------------------------------------------------------------------- */
    /* ----------------------------- INTRO (MOBILE) ----------------------------- */


    /* -------------------------------------------------------------------------- */
    /*                               ABOUT (MOBILE)                               */
    /* -------------------------------------------------------------------------- */
    /* ----------------------------- ABOUT (MOBILE) ----------------------------- */


    /* -------------------------------------------------------------------------- */
    /*                              PROJECTS (MOBILE)                             */
    /* -------------------------------------------------------------------------- */
    /* ---------------------------- PROJECTS (MOBILE) --------------------------- */


    /* -------------------------------------------------------------------------- */
    /*                              CONTACT (MOBILE)                              */
    /* -------------------------------------------------------------------------- */
    /* ---------------------------- CONTACT (MOBILE) ---------------------------- */
  }
}